.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 5px;
    display: inline-block;
}

.Done {
    background: rgb(34 197 94);
}
.InProgress{
    background:rgb(234 179 8);
}
