.tree-topic-node {
  height: 17px;
  width: 17px;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPgo8c3ZnIGZpbGw9IiMwMDAwMDAiIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNzUgNC41YS4yNS4yNSAwIDAwLS4yNS4yNXYxNC41YzAgLjEzOC4xMTIuMjUuMjUuMjVoMTYuNWEuMjUuMjUgMCAwMC4yNS0uMjVWNy42ODdhLjI1LjI1IDAgMDAtLjI1LS4yNWgtOC40NzFhMS43NSAxLjc1IDAgMDEtMS40NDctLjc2NUw4LjkyOCA0LjYxYS4yNS4yNSAwIDAwLS4yMDgtLjExSDMuNzV6TTIgNC43NUMyIDMuNzg0IDIuNzg0IDMgMy43NSAzaDQuOTcxYy41OCAwIDEuMTIuMjg2IDEuNDQ3Ljc2NWwxLjQwNCAyLjA2M2EuMjUuMjUgMCAwMC4yMDcuMTFoOC40NzFjLjk2NiAwIDEuNzUuNzgzIDEuNzUgMS43NVYxOS4yNUExLjc1IDEuNzUgMCAwMTIwLjI1IDIxSDMuNzVBMS43NSAxLjc1IDAgMDEyIDE5LjI1VjQuNzV6Ii8+PC9zdmc+);
}


.topic-node .rc-tree-title{
  margin-left: 4px;
}

.rc-tree-iconEle {
  vertical-align: text-top!important;
}